
@font-face {
  src: url("../fonts/Lato-Regular-400.ttf");
  font-family: Lato;
  font-weight: 400;
}

@font-face {
  src: url("../fonts/Lato-Medium-500.ttf");
  font-family: Lato;
  font-weight: 500;
}

@font-face {
  src: url("../fonts/Lato-Semibold-600.ttf");
  font-family: Lato;
  font-weight: 600;
}

@font-face {
  src: url("../fonts/Lato-Bold-700.ttf");
  font-family: Lato;
  font-weight: 700;
}

