<div class="admin-header" *ngIf="showAdminHeader">
  <div class="admin-info">
    <div class="admin-img" style="background-image: url('/storage/{{img}}' )"></div>

    <div class="admin-name">
      <span>{{name}}</span>
      <span class="admin-word">Admin</span>
    </div>
  </div>

  <div class="admin-menu">
    <button>
      <span [routerLink]="dashBoardOrHomeLink">{{dashBoardOrHomeText}}</span>
    </button>
    <button (click)="logout()">
      <span>Logout</span>
    </button>
  </div>
</div>
