@import "../../../../../assets/styles/variables";

.news {
  background: $color-blue-dark;
  padding-top: 190px;
  padding-bottom: 275px;
  margin-top: -106px;
  .container {
    .title.news-title {
      margin-bottom: 30px;
    }

    .subhead.news-subhead {
      margin-bottom: 50px;
    }

    .cards {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(365px, 1fr));
      grid-auto-rows: 453px;
      grid-gap: 30px;
    }

    .btn.add-news-btn {
      cursor: pointer;
      display: inline-block;
      text-align: center;
      padding: 20px;
      width: 130px;
      background: $color-blue;
      color: white;
      font-size: 16px;
      border-radius: 8px;
      margin-bottom: 30px;
    }

    .pagination {
      margin-top: 50px;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;

      .pagination-items {
        display: flex;
        align-items: center;
        column-gap: 10px;
        margin: 0 10px;

        .pagination-item {
          cursor: pointer;
          font-size: 20px;
          padding: 6px;
          box-sizing: border-box;
          width: 35px;
          text-align: center;
          height: 35px;
          border-radius: 50%;

          background: $color-blue-dark;
          color: #ffffff;
          &.active {
            background: #ffffff;
            color: #2153B6;
          }
        }
      }

      .pagination-arrow {
        background: transparent;
        border: none;
        outline: none;
        cursor: pointer;
        svg {
          width: 25px;
          height: 25px;
          stroke: #ffffff;
        }
      }
    }
  }

}

@media screen and (max-width: 1200px) {
  .news {
    .container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      .cards {
        display: grid;
        grid-template-columns: repeat(2, 365px);
        grid-template-rows: repeat(4, 453px);
        grid-gap: 30px;
      }
    }
  }


}
@media screen and (max-width: 470px) {
  .news {
    .container {
      display: flex;
      justify-content: center;
      .cards {
        display: grid;
        grid-template-columns: repeat(1, 310px);
        grid-template-rows: repeat(3, 453px);
        grid-gap: 30px;
      }
    }
  }

}
