.footer {

  padding-top: 60px;
  padding-bottom: 60px;

  .container {
    .footer-items {
      display: grid;
      grid-template-columns: repeat(5, 1fr);
      grid-template-rows: 1fr ;
      grid-column-gap: 40px;

      a {
        color: black;
        text-decoration: none;
      }
      .footer-item {
        max-width: 267px;
        &.logo {
          .logo {

            margin-bottom: 10px;
            display: flex;
            column-gap: 8px;
            align-items: center;

            .logo-text {
              font-family: Lato, sans-serif;
              font-weight: 600;
            }
          }
        }

        .footer-item-title {
          color: rgb(31, 34, 46);
          font-size: 16px;
          font-weight: 800;
          margin-bottom: 20px;
        }

        .footer-item-items {
          display: flex;
          flex-direction: column;
          row-gap: 15px;
          font-size: 14px;
          font-weight: 500;

          .footer-item-item.email-input {
            position: relative;
            input {
              width: 267px;
              border: 2px solid rgb(74, 74, 74);
              background: rgb(205, 217, 242);
              box-sizing: border-box;
              padding: 10px 15px 10px 15px;
              border-radius: 4px;
            }

            .arrow-svg {
              cursor: pointer;
              position: absolute;
              top: 8px;
              right: 10px;

            }
          }
        }
      }
    }
  }

}

@media screen and (max-width: 1050px) {
  .footer {

    padding-top: 40px;
    padding-bottom: 40px;

    .container {
      .footer-items {
        grid-column-gap: 30px;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 1fr) ;
        justify-items: center;

        .footer-item {
          &.logo {
            .logo {
              .logo-img {
                svg {
                  width: 20px;
                  height: 20px;
                }

               .logo-text {
                 font-size: 11px;
               }
              }

            }
          }

          .footer-item-title {
            font-size: 14px;
          }

          .footer-item-items {
            font-size: 12px;
            row-gap: 10px;

            .footer-item-item.email-input {
              input {
                width:190px
              }

              .arrow-svg {


              }
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 550px) {
  .footer {

    padding-top: 40px;
    padding-bottom: 40px;

    .container {
      .footer-items {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        row-gap: 15px;


        .footer-item {
          display: flex;
          flex-direction: column;
          justify-items: center;
          align-items: center;

          &.logo {

            max-width: 222px;
            padding-bottom: 10px;
            border-bottom: 2px solid gray;

            margin-bottom: 20px;

            .logo {
                .logo-text {
                  padding-bottom: 5px;
                }
            }

            span {
              display: inline-block;
              font-size: 13px;
              text-align: center;
            }

          }

          &.up-to-date {

          }

          &.contact {
            grid-column-start: 1;
            grid-column-end: 3;
          }

          .footer-item-title {
            font-size: 14px;
          }

          .footer-item-items {
            display: flex;
            flex-direction: column;
            justify-items: center;
            align-items: center;
            font-size: 12px;
            row-gap: 10px;

            .footer-item-item.email-input {
              input {
                width:190px
              }

              .arrow-svg {


              }
            }
          }
        }
      }
    }
  }
}
