.admin-header-container {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 99;
}

:host {
  display: block;
  height: 100%;
}

/* Ensure each route component has height 100% */
//.home, .details {
//  height: 100%;
//}
