<div class="card">
  <div class="card-img" style="background-image: url('/assets/images/main-bg.webp')">

  </div>

  <div class="card-info">
    <div class="card-title">
      Discover Initiatives to Protect and Armenian Manuscripts
    </div>

    <div class="card-text">
      Learn about ongoing efforts to preserve and digitize Armenian manuscripts in Jerusalem, ensuring their survival and accessibility for future generations.
    </div>

    <div class="card-admin-info">
      <div class="card-admin-detail">
        <div class="card-admin-img"></div>
        <div class="card-admin-name">Arshak Khaxarian</div>
      </div>

      <div class="card-admin-date">
        28 May 2024
      </div>
    </div>
  </div>
</div>
