@import "../../../assets/styles/variables";

.catalog {
  position: relative;
  background: $color-blue-dark;
  padding-top: 190px;
  padding-bottom: 275px;
  margin-top: -106px;

  .container {
    .btn.add-catalog {
      cursor: pointer;
      display: inline-block;
      text-align: center;
      padding: 20px;
      width: 130px;
      background: $color-blue;
      color: white;
      font-size: 16px;
      border-radius: 8px;
      margin-bottom: 30px;
    }

    .catalog-items {
      display: flex;
      flex-direction: column;
      row-gap: 40px;
    }
  }
}
