@import "../../../../../assets/styles/variables";

.detail {

  background: $color-blue-dark;
  padding-top: 190px;
  padding-bottom: 275px;
  margin-top: -106px;

  .container {
    .title {
      max-width: 700px;
      margin-left: 100px;
    }

    .detail-admin-info {
      margin: 35px auto 51px 100px;
      display: flex;
      max-width: 320px;

      .detail-admin-details {
        display: flex;
        justify-content: center;
        align-items: center;
        color: #ffffff;

        .detail-admin-img {
          width: 40px;
          height: 40px;
          border-radius: 50%;
          background-image: url("/assets/images/admin-img.png");
          background-size: cover;
          background-position: center;
          margin-right: 15px;
        }

        .detail-admin-name {
          font-size: 14px;
          font-weight: 500;
          padding-right: 30px;
          box-sizing: border-box;
          border-right: 1px solid rgb(187, 200, 212);
        }
      }
      .detail-admin-date {
        font-weight: 500;
        margin-left: 30px;
        text-align: center;
        height: 17px;
        align-self: center;
        color: #ffffff;
        font-size: 14px;
      }
    }

    .detail-img {
      width: 1100px;
      height: 450px;
      margin: 0 auto;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
    }

    .detail-text {
      max-width: 900px;
      margin: 0 auto;
      padding-bottom: 50px;
      border-bottom: 1px solid gray;
      color: #ffffff;
    }

    .detail-explore-more {
      .detail-explore-more-title {
        font-size: 30px;
        font-weight: 700;
        color: #ffffff;
        margin-top: 150px;
        margin-bottom: 30px;
      }

      .detail-explore-more-cards {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-column-gap: 15px;
      }
    }
  }
}
