@import "../../../assets/styles/variables";

.main {


    .news {
      padding-top: 120px;
      padding-bottom: 120px;
      background: $color-blue-dark;

      .container {
      }
    }
}
