@import "../../../assets/styles/variables";

.main {


    .news-article {
      padding-top: 120px;
      padding-bottom: 120px;
      background: $color-blue-dark;

      .container {

        .title {
          margin: 30px;
          text-align: center;
        }

        .subhead {
          margin-bottom: 90px;
          text-align: center;
        }
      }
    }

  .slider {
    padding-bottom: 120px;
    border-bottom: 1px solid gray;
  }

  .support {

    background-color: $color-blue-dark;
    padding: 90px 0 200px 0;


    .container {

      .support-title {
        text-align: center;
      }

      .new-post {
        padding: 15px;
        background-color: $color-blue;
        outline: none;
        border: 0;
        color: #ffffff;
        border-radius: 4px;
        cursor: pointer
      ;
      }

      .support-items {

        margin-top: 120px;
        display: flex;
        flex-direction: column;
        row-gap: 120px;

      }
    }
  }

}
