@import "../../../../assets/styles/variables";
.support-item {

  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;

  &:nth-child(2) {
    flex-direction: column;
  }

  .support-item-info {

    max-width: 570px;

    .support-item-title {
      font-size: 48px;
      font-weight: 700;
      color: #ffffff;
      margin-bottom: 40px;
    }

    .support-item-text {
      font-size: 30px;
      font-weight: 400;
      color: #ffffff;
    }
  }

  .support-item-img {
    border-radius: 8px;
    width: 433px;
    height: 433px;
  }

}

