.modal {
  display: none;
  position: fixed; /* Stay in place */
  z-index: 1000; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgba(0,0,0,0.4);

  &.active {
    display: block;
  }
  /* Black w/ opacity */
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 40%; /* Could be more or less, depending on screen size */
  box-shadow: 0 4px 8px rgba(0,0,0,0.2);
}

.modal-content span {
  display: block;
  margin-bottom: 10px;
}

.modal-actions {
  text-align: center;
}

.btn {
  padding: 10px 20px;
  margin: 0 10px;
  cursor: pointer;
}

.btn.yes {
  background-color: #4CAF50;
  color: white;
  border: none;
}

.btn.no {
  background-color: #f44336;
  color: white;
  border: none;
}

.btn.yes:hover, .btn.no:hover {
  opacity: 0.8;
}
