// @import 'ngx-owl-carousel-o/lib/styles/scss/owl.carousel';
// @import 'ngx-owl-carousel-o/lib/styles/scss/owl.theme.default';
@import "../../../../assets/styles/variables";

.slider {
  position: relative;
  background-color: white;
  margin: 0 auto;



  // display: flex;

}

.slide {
  background-color: rgb(230, 4, 4);
  width: 1160px;
  height: 530px;
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: flex-end;


  .slide-text {
    text-align: center;
    color: white;
    margin-bottom: 50px;
    width: 1090px;
    box-sizing: border-box;
    padding: 26px;
    background: rgba(0, 0, 0, 0.5);

    .slide-text-title {
      font-weight: 700;
      text-align: left;
      font-size: 35px;
      letter-spacing: 2px;
    }

    .slide-text-info {
      text-align: left;
      font-size: 20px;
    }
  }

}

@media screen and (max-width: 1100px) {
  .slider {
    background-color: white;
    width: 900px;
    // display: flex;

  }

  .slide {
    width: 100%;
  }
}

@media screen and (max-width: 900px) {
  .slider {
    background-color: white;
    width: 650px;
  }

  .slide {

    .slide-text {
      width: 90%;

      .slide-text-title {
        font-size: 20px;
        font-weight: 500;
      }

      .slide-text-info {
        font-size: 14px;
      }
    }

  }
}

@media screen and (max-width: 650px) {
  .slider {
    background-color: white;
    width: 400px;
    // display: flex;

  }

  .slide {

    .slide-text {
      width: 90%;

      .slide-text-title {
        font-weight: 500;
      }

    }

  }
}

@media screen and (max-width: 400px) {
  .slider {
    background-color: white;
    width: 310px;
    // display: flex;

  }

  .slide {

    .slide-text {
      width: 90%;

      .slide-text-title {
        font-weight: 500;
        font-size: 14px;
      }

      .slide-text-info {
        font-size: 12px;
      }
    }

  }
}

::ng-deep .owl-carousel .owl-dots {
  position: absolute;
  bottom: 10px; /* Adjust based on where you want the dots */
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
  width: 100%;
}
