<header class="admin-header">
  <div class="admin-info">
    <div class="admin-img"></div>

    <div class="admin-name">arshak</div>
  </div>

  <div class="admin-menu">
    <svg
      width="30"
      height="20"
      viewBox="0 0 30 20"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path
        d="M1.875 1.875H28.125M1.875 10H28.125M1.875 18.125H28.125"
        stroke="white"
        stroke-width="3.75"
        stroke-miterlimit="10"
        stroke-linecap="round"
      />
    </svg>
  </div>
</header>
