@import "variables";
@import "mixins";

html, body {
  margin: 0;
  padding: 0;
  font-family: Lato, sans-serif;
  font-weight: 400;
}

.container {
  max-width: $container-width;
  margin: 0 auto;
  padding: 0 15px;
}
li {
  list-style: none;

  a {
    text-decoration: none;
    color: white;
  }
}

.btn {
  background: $color-blue;
  color: #ffffff;
  padding: 15px 48px;
  outline: 0;
  border: 0;
  border-radius: 8px;
  cursor: pointer;
  text-decoration: none;

    &.edit-btn,
    &.delete-btn {
      width: 25px;
      height: 25px;

      z-index: 999;
      position: absolute;
      padding: 15px;
      border-radius: 50%;
      background: #ffffff;
      cursor: pointer;
      transition: all 300ms ;
    }
    &.edit-btn {
      top: 10px;
      left: 10px;
      position: absolute;

      &:hover {
        background: $color-blue;
        svg {
          fill: #ffffff;
        }
      }
    }

    &.delete-btn {
      top: 10px;
      right: 10px;
      position: absolute;

      &:hover {
        background: red;

        svg {
          fill: #ffffff;
        }
      }

      svg {
        fill: red;

      }
    }

    svg {
      width: 100%;
      height: 100%;
      fill: #ffffff;
      stroke: $color-blue;

    }
  }


.title {
  @include head-lato-60;
}

.subhead {
  @include subHead-lato-30;
}
